{
    "openapi": "3.0.0",
    "info": {
      "title": "FaceTec API",
      "version": "1.0.0",
      "description": "API for biometric verification using FaceTec 3D Liveness & Face Matching",
      "contact": {
        "name": "API Support",
        "email": "suporte@easypay.com.br"
      }
    },
    "servers": [
      {
        "url": "https://facetec.easypay.com.br",
        "description": "Production server"
      }
    ],
    "components": {
      "securitySchemes": {
        "ApiKeyAuth": {
          "type": "apiKey",
          "in": "header",
          "name": "X-API-Key",
          "description": "API key for authentication"
        }
      }
    },
    "security": [
      {
        "ApiKeyAuth": []
      }
    ],
    "paths": {
      "/api/enrollment": {
        "post": {
          "summary": "Enroll a new user with biometric data",
          "description": "Registers a new user with 3D liveness verification and stores their FaceMap",
          "tags": [
            "Enrollment"
          ],
          "security": [
            {
              "ApiKeyAuth": []
            }
          ],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "externalId",
                    "sessionId",
                    "faceScan",
                    "auditTrailImage",
                    "lowQualityAuditTrailImage"
                  ],
                  "properties": {
                    "externalId": {
                      "type": "string",
                      "description": "Unique identifier from your system (e.g., CPF, UUID, email)",
                      "example": "user-12345"
                    },
                    "sessionId": {
                      "type": "string",
                      "description": "Session ID from FaceTec Device SDK",
                      "example": "fac3t3c-session-abc123"
                    },
                    "faceScan": {
                      "type": "string",
                      "description": "Base64-encoded FaceScan from Device SDK"
                    },
                    "auditTrailImage": {
                      "type": "string",
                      "description": "Base64-encoded audit trail image"
                    },
                    "lowQualityAuditTrailImage": {
                      "type": "string",
                      "description": "Base64-encoded low quality audit trail image"
                    }
                  }
                }
              }
            }
          },
          "responses": {
            "201": {
              "description": "User enrolled successfully",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "success": {
                        "type": "boolean",
                        "example": true
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "userId": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "externalId": {
                            "type": "string"
                          },
                          "enrolledAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "livenessResult": {
                            "type": "object",
                            "properties": {
                              "isLive": {
                                "type": "boolean"
                              },
                              "confidence": {
                                "type": "number"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "Liveness verification failed"
            },
            "401": {
              "description": "Invalid API key"
            },
            "409": {
              "description": "User already exists"
            }
          }
        }
      },
      "/api/facetec/process": {
        "post": {
          "summary": "Proxy for FaceTec API requests",
          "description": "Forwards encrypted blobs to FaceTec Server and returns the response",
          "tags": [
            "FaceTec"
          ],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "requestBlob"
                  ],
                  "properties": {
                    "requestBlob": {
                      "type": "string",
                      "description": "Encrypted request blob from FaceTec SDK"
                    },
                    "externalDatabaseRefID": {
                      "type": "string",
                      "description": "External ID for enrollment/verification"
                    }
                  }
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "FaceTec response",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "responseBlob": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            },
            "500": {
              "description": "FaceTec API error"
            }
          }
        }
      },
      "/api/facetec/config": {
        "get": {
          "summary": "Get FaceTec SDK configuration",
          "description": "Returns the configuration needed to initialize the FaceTec Browser SDK",
          "tags": [
            "FaceTec"
          ],
          "responses": {
            "200": {
              "description": "Configuration returned successfully"
            }
          }
        }
      },
      "/api/health": {
        "get": {
          "summary": "Health check endpoint",
          "description": "Returns the health status of the API and its dependencies",
          "tags": [
            "Health"
          ],
          "responses": {
            "200": {
              "description": "Service is healthy",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "status": {
                        "type": "string",
                        "enum": [
                          "healthy",
                          "unhealthy",
                          "degraded"
                        ]
                      },
                      "timestamp": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "services": {
                        "type": "object",
                        "properties": {
                          "api": {
                            "type": "object",
                            "properties": {
                              "status": {
                                "type": "string",
                                "enum": [
                                  "up",
                                  "down"
                                ]
                              }
                            }
                          },
                          "database": {
                            "type": "object",
                            "properties": {
                              "status": {
                                "type": "string",
                                "enum": [
                                  "up",
                                  "down"
                                ]
                              }
                            }
                          },
                          "facetec": {
                            "type": "object",
                            "properties": {
                              "status": {
                                "type": "string",
                                "enum": [
                                  "up",
                                  "down"
                                ]
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "503": {
              "description": "Service is unhealthy"
            }
          }
        }
      },
      "/api/liveness": {
        "post": {
          "summary": "Verify liveness only",
          "description": "Checks if the face scan is from a live person without enrollment",
          "tags": [
            "Liveness"
          ],
          "security": [
            {
              "ApiKeyAuth": []
            }
          ],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "sessionId",
                    "faceScan",
                    "auditTrailImage",
                    "lowQualityAuditTrailImage"
                  ],
                  "properties": {
                    "sessionId": {
                      "type": "string",
                      "description": "Session ID from FaceTec Device SDK",
                      "example": "fac3t3c-session-abc123"
                    },
                    "faceScan": {
                      "type": "string",
                      "description": "Base64-encoded FaceScan from Device SDK"
                    },
                    "auditTrailImage": {
                      "type": "string",
                      "description": "Base64-encoded audit trail image"
                    },
                    "lowQualityAuditTrailImage": {
                      "type": "string",
                      "description": "Base64-encoded low quality audit trail image"
                    }
                  }
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Liveness check successful",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "success": {
                        "type": "boolean",
                        "example": true
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "isLive": {
                            "type": "boolean",
                            "example": true
                          },
                          "confidence": {
                            "type": "number",
                            "example": 0.99
                          },
                          "sessionId": {
                            "type": "string"
                          },
                          "verifiedAt": {
                            "type": "string",
                            "format": "date-time"
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "Liveness verification failed"
            },
            "401": {
              "description": "Invalid API key"
            }
          }
        }
      },
      "/api/try/session-token": {
        "get": {
          "summary": "Get FaceTec SDK configuration for demo page",
          "description": "Returns the configuration needed to initialize the FaceTec Browser SDK. In SDK v4, the session token is obtained automatically by the SDK through the processor.",
          "tags": [
            "Demo"
          ],
          "responses": {
            "200": {
              "description": "Configuration returned successfully",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "success": {
                        "type": "boolean",
                        "example": true
                      },
                      "deviceKeyIdentifier": {
                        "type": "string"
                      },
                      "publicFaceMapEncryptionKey": {
                        "type": "string"
                      },
                      "productionKey": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/api/users/{externalId}": {
        "get": {
          "summary": "Get user information",
          "description": "Returns information about an enrolled user",
          "tags": [
            "Users"
          ],
          "security": [
            {
              "ApiKeyAuth": []
            }
          ],
          "parameters": [
            {
              "in": "path",
              "name": "externalId",
              "required": true,
              "schema": {
                "type": "string"
              },
              "description": "External ID of the user"
            }
          ],
          "responses": {
            "200": {
              "description": "User found",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "success": {
                        "type": "boolean",
                        "example": true
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "userId": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "externalId": {
                            "type": "string"
                          },
                          "enrolledAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "lastVerifiedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "verificationCount": {
                            "type": "integer"
                          },
                          "isActive": {
                            "type": "boolean"
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "401": {
              "description": "Invalid API key"
            },
            "404": {
              "description": "User not found"
            }
          }
        },
        "delete": {
          "summary": "Delete user and biometric data",
          "description": "Removes a user and all associated biometric data (LGPD compliance)",
          "tags": [
            "Users"
          ],
          "security": [
            {
              "ApiKeyAuth": []
            }
          ],
          "parameters": [
            {
              "in": "path",
              "name": "externalId",
              "required": true,
              "schema": {
                "type": "string"
              },
              "description": "External ID of the user to delete"
            }
          ],
          "responses": {
            "200": {
              "description": "User deleted successfully",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "success": {
                        "type": "boolean",
                        "example": true
                      },
                      "message": {
                        "type": "string",
                        "example": "User and biometric data deleted successfully."
                      },
                      "deletedAt": {
                        "type": "string",
                        "format": "date-time"
                      }
                    }
                  }
                }
              }
            },
            "401": {
              "description": "Invalid API key"
            },
            "404": {
              "description": "User not found"
            }
          }
        }
      },
      "/api/verify": {
        "post": {
          "summary": "Verify face against enrolled user",
          "description": "Checks if the face scan matches an enrolled user's biometric data",
          "tags": [
            "Verification"
          ],
          "security": [
            {
              "ApiKeyAuth": []
            }
          ],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "externalId",
                    "sessionId",
                    "faceScan",
                    "auditTrailImage",
                    "lowQualityAuditTrailImage"
                  ],
                  "properties": {
                    "externalId": {
                      "type": "string",
                      "description": "External ID of the enrolled user",
                      "example": "user-12345"
                    },
                    "sessionId": {
                      "type": "string",
                      "description": "Session ID from FaceTec Device SDK"
                    },
                    "faceScan": {
                      "type": "string",
                      "description": "Base64-encoded FaceScan from Device SDK"
                    },
                    "auditTrailImage": {
                      "type": "string",
                      "description": "Base64-encoded audit trail image"
                    },
                    "lowQualityAuditTrailImage": {
                      "type": "string",
                      "description": "Base64-encoded low quality audit trail image"
                    }
                  }
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Verification completed",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "success": {
                        "type": "boolean",
                        "example": true
                      },
                      "data": {
                        "type": "object",
                        "properties": {
                          "match": {
                            "type": "boolean",
                            "description": "Whether face matches enrolled user",
                            "example": true
                          },
                          "matchLevel": {
                            "type": "integer",
                            "description": "Match confidence level (0-10)",
                            "example": 8
                          },
                          "matchConfidence": {
                            "type": "string",
                            "description": "Match confidence percentage",
                            "example": "99.999998%"
                          },
                          "isLive": {
                            "type": "boolean",
                            "example": true
                          },
                          "userId": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "verifiedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "message": {
                            "type": "string",
                            "description": "Additional message (when match fails)"
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "Liveness verification failed"
            },
            "401": {
              "description": "Invalid API key"
            },
            "404": {
              "description": "User not found"
            }
          }
        }
      }
    },
    "tags": []
  }